* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}
:root {
  --accent-color: #fff;
  --gradient-color: #fbfbfb;
}

/*-------------------------------------------------------------------------------Sidebar*/
.sidebar {
  display: none;
  position: fixed;
  width: 240px;
  left: -240px;
  height: 100%;
  background-color: #000000;
  color: #fff;
  transition: all 0.5s ease;
}
.sidebar header {
  font-size: 28px;
  color: #ffffff;
  line-height: 70px;
  text-align: center;
  background-color: #000000;
  user-select: none;
  font-family: "Lato", sans-serif;
}
.sidebar a {
  display: block;
  height: 65px;
  width: 100%;
  color: #353535;
  line-height: 65px;
  padding-left: 30px;
  box-sizing: border-box;
  border-left: 5px solid transparent;
  font-family: "Lora", sans-serif;
  transition: all 0.5s ease;
}
.sidebar a.active,
.sidebar a:hover {
  border-left: 5px solid var(--accent-color);
  color: #fff;
  background: linear-gradient(
    to left,
    var(--accent-color),
    var(--gradient-color)
  );
}
.sidebar a i {
  font-size: 23px;
  margin-right: 16px;
}
.sidebar a span {
  letter-spacing: 1px;
  text-transform: uppercase;
  color: white;
}
#check {
  display: none;
}
label #btn,
label #cancel {
  display: none;
  @media screen and (max-width: 768px) {
    display: block;
  }
  position: absolute;
  left: 5px;
  cursor: pointer;
  color: #ffffff;
  border-radius: 5px;
  margin: 15px 30px;
  font-size: 29px;
  background-color: #b01a1a;
  height: 45px;
  width: 45px;
  text-align: center;
  text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.5);
  line-height: 45px;
  transition: all 0.5s ease;
  z-index: 1;
}
label #cancel {
  opacity: 0;
  visibility: hidden;
}
#check:checked ~ .sidebar {
  left: 0;
}
#check:checked ~ label #btn {
  margin-left: 245px;
  opacity: 0;
  visibility: hidden;
}
#check:checked ~ label #cancel {
  margin-left: 245px;
  opacity: 1;
  visibility: visible;
}

.sidebar > a.active,
.sidebar > a:hover:nth-child(even) {
  --accent-color: #071161;
  --gradient-color: #0738b3;
}
.sidebar a.active,
.sidebar > a:hover:nth-child(odd) {
  --accent-color: #0e14cd;
  --gradient-color: #0b0b5c;
}

/*-------------------------------------------------------------Modal mais vsi me bouton marche plus la*/
.floating-btn {
  position: fixed;
  bottom: 30px;
  right: 30px;
  background-color: #1d1d20;
  color: #fff;
  border: 2px solid #0d00ff;
  padding: 10px 20px;
  border-radius: 25%;
  cursor: pointer;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
}
.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  overflow: auto;
}
.modal-content {
  background-color: #fefefe;
  margin: 20% auto;
  padding: 20px;
  border-radius: 10px;
  width: 80%;
  max-width: 600px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
}
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}
.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
/*---------------------------------------------------------------------Modal*/

/*---------------------------------------------------------------------Slide mashallah*/

.wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  height: 400px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: start;
}

.card {
  width: 80px;
  border-radius: 0.75rem;
  background-size: cover;
  cursor: pointer;
  overflow: hidden;
  border-radius: 2rem;
  margin: 0 10px;
  display: flex;
  align-items: flex-end;
  transition: 0.6s cubic-bezier(0.28, -0.03, 0, 0.99);
  box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.8);
}

.card > .row {
  color: white;
  display: flex;
  flex-wrap: nowrap;
}

.card > .row > .icon {
  background: #223;
  color: white;
  border-radius: 50%;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px;
}

.card > .row > .description {
  display: flex;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
  height: 80px;
  width: 520px;
  opacity: 0;
  transform: translateY(30px);
  transition-delay: 0.3s;
  transition: all 0.3s ease;
}

.description p {
  color: #b0b0ba;
  padding-top: 5px;
}

.description h4 {
  text-transform: uppercase;
}

input {
  display: none;
}

input:checked + label {
  width: 600px;
}

input:checked + label .description {
  opacity: 1 !important;
  transform: translateY(0) !important;
}

.card[for="c1"] {
  background-image: url("");
}
.card[for="c2"] {
  background-image: url("");
}
/*---------------------------------------------------------------------Slide mashallah*/
/*---------------------------------------------------------------------Navbar*/
.sidenav {
  background-color: #2d2d2d;
  padding: 20px;
  text-align: center;
  position: relative;
  width: 100%;
  z-index: 99;
  top: 0;
}

button {
  background-color: #740001;
  color: #fff;
  border: solid 1px #ffd900;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 10px;
  cursor: pointer;
}
/*tst*/

.fill-bottom {
  position: relative;
  height: 45px;
  width: 150px;
  margin: 10px 7px;
  padding: 5px 5px;
  font-weight: 700;
  font-size: 15px;
  letter-spacing: 2px;
  color: #ffffff;
  border: 2px #ffffff solid;
  border-radius: 4px;
  text-transform: uppercase;
  outline: 0;
  overflow: hidden;
  background: none;
  cursor: pointer;
}

.fill-bottom::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  background-color: #39356e;
  z-index: -1;
  transition: height 0.3s ease;
}

.fill-bottom:hover::before {
  height: 100%;
}



@media screen and (max-width: 768px) {
  .sidebar {
      display: block; 
  }
  .label #cancel {
      display: block; 
}
  .sidenav {
      display: none; 
  }
}